@media (max-width: 430px) {
    body{
        background: url(../images/pattern-background-mobile.svg) no-repeat hsl(225, 100%, 94%);
    }

    .container{
        width: 300px;
        height: 530px;
    }
}